@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');

body, html {
  height: 100%;
}

.bg {

  margin: 0;

  /* The image used */
  background-image: url("background.gif");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  font-family: 'Radio Canada', sans-serif;
  border-radius: 40px !important;
  border-color: white;
}

.bucket {
  margin-top: 10%;
  margin-bottom: 6%;
  position: relative;
  text-align: center;
}

.btn-long {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.flower {
  padding-top: 27%;
  text-align: center;
}
